[Unit]
Description=SecureBank FAKE — Simulação Acadêmica MITM (Flask)
After=network.target

[Service]
Type=simple
User=%DEPLOY_USER%
WorkingDirectory=/opt/securebank-fake
ExecStart=/opt/securebank-fake/venv/bin/python3 /opt/securebank-fake/server.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
